
<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="index.html" class="active">Home</a></li>
								<li class="dropdown"><a href="#">Catagories<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
										<li><a href="Electronics.html">Electronics</a></li> 
										<li><a href="Entairtnment.html">Entairtnment</a></li>
										<li><a href="H&F.html">Health and Fitness</a></li> 
										<li><a href="Men.html">Mens Clothes</a></li> 
										<li><a href="Women.html">Womens Clothes</a></li> 
										<li><a href="Kids.html">Kids Clothes</a></li> 
										<li><a href="Security.html">Security</a></li> 
										<li><a href="Watches.html">Watches</a></li>
										<li><a href="Shoes.html">Shoes</a></li> 
                                    </ul>
                                </li> 
								<li><a href="contact-us.html">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->